<div class="container px-4 px-lg-5">
    @if(isLoading){
        <app-loader />
    } @else {
        <div class="row gx-4 gx-lg-5">
            @for (book of books; track $index) {
                <div class="col-md-4 mb-5">
                    <div class="card h-100" >
                        <div class="card-header" style="background-image: url({{book.image}});"></div>
                        <div class="card-body">
                            <h2 class="card-title">{{book.bookName}}</h2>
                            <p class="card-text">{{book.description}}</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" routerLink="/books/{{book._id}}">More Info</a>
                            <p style="float: right; clear: right;">Likes: <span>{{ book?.likedList?.length || 0 }}</span></p>
                        </div>
                    
                    </div>
                </div>
            
            }
        
        </div>
    }

</div>