<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0"
                src="books.jpg" alt="Books" /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Book Shop</h1>
            <p>Online Books</p>
            <a class="btn btn-primary" routerLink="/books">Books</a>
        </div>
    </div>
    <div class="card text-white bg-secondary my-5 py-4 text-center image-font">
        <div class="card-body">
            <h1 _ngcontent-ng-c1367967614="" class="font-weight-light">New Books</h1>
        </div>
    </div>
    <app-books-list [latestBooks]="5"/>
</div>