<section style="background-color: #508bfc;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <form [formGroup]="form" (ngSubmit)="updateBook()">
                            <!-- <form> -->
                            <h3 class="mb-5">Edit Book</h3>

                            <div class="row mb-4">
                                <div class="col">
                                    <div data-mdb-input-init class="form-outline">
                                        <input 
                                        type="text" 
                                        class="form-control"
                                        id="bookName" 
                                        name="bookName"
                                        value="{{book.bookName}}"
                                        required
                                        minlength="5"
                                        formControlName="bookName"
                                        />
                                        <label class="form-label" for="form6Example1">Title</label>
                                    </div>
                                </div>
                            </div>
                            @if(form.get('bookName')?.touched){
                                <div>
                                    @if(form.get('bookName')?.errors?.['required']){
                                        <p class="error">Book title is required!</p>
                                    }
                
                                    @if(form.get('bookName')?.errors?.['minlength']){
                                        <p class="error">Book title must be at least 5 characters!</p>
                                    }
                                </div>
                            }

                            <div data-mdb-input-init class="form-outline mb-4">
                                <input 
                                type="text" 
                                id="image" 
                                class="form-control"
                                formControlName="image"
                                name = "image"
                                value="{{book.image}}"
                                required
                                minlength="5"
                                />
                                <label class="form-label" for="form6Example3">Image URL</label>
                            </div>

                            @if(form.get('image')?.touched){
                                <div>
                                    @if(form.get('image')?.errors?.['required']){
                                        <p class="error">Image URL is required!</p>
                                    }

                                    @if(form.get('image')?.errors?.['minlength']){
                                        <p class="error">Image URL must be at least 5 characters!</p>
                                    }
                                </div>
                            }

                            <div data-mdb-input-init class="form-outline mb-4">
                                <textarea 
                                formControlName="description"
                                id="description" 
                                name="description"
                                class="form-control"
                                rows="4"
                                value="{{book.description}}"
                                required
                                minlength="10"
                                >
                            </textarea>
                                <label class="form-label" for="form6Example7">Additional information</label>
                            </div>
                            @if(form.get('description')?.touched){
                                <div>
                                    @if(form.get('description')?.errors?.['required']){
                                        <p class="error">Description is required!</p>
                                    }
                
                                    @if(form.get('description')?.errors?.['minlength']){
                                        <p class="error">Description must be at least 10 characters!</p>
                                    }
                                </div>
                            }


                            <button data-mdb-ripple-init  class="btn btn-primary btn-block mb-4">Edit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>