h1 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    /* font-weight: 700; */
    line-height: 1.1;
    padding: 7px;
    letter-spacing: 0px;
    font-size: 4rem;
    text-transform: capitalize;
    /* font-family: Georgia, serif; */
    color: black;
    font-weight: bold;
    font-family: Ubuntu, sans-serif !important;
    text-align: center;

}

.card-header {
    padding-bottom: 296px;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 406px 305px;
}

.details-btn {
    margin-left: 72px;
}

#delete-button {
    margin-left: 100px;
}

#edit-button {
    width: 60.79px;
    height: 31px;
}

.liked-book {
    margin-top: 20px;
    color: #ffb74d;
    font-weight: bold;
}


.like-book-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.like-book-btn {
    background-color: #4caf50;
    color: white;
}

.like-book-btn:disabled {
    background-color: #555;
}